body {
  margin: 0;
  font-family: "Roboto";
}
.header,
.header2 {
  list-style: none;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px 200px;
  background-color: #1f2937;
  color: #e5e7eb;
}

.header-logo {
  margin-right: auto;
  font-size: 24px;
  font-weight: bolder;
  color: #f9faf8;
}

.header-link {
  font-size: 18px;
  color: #e5e7eb;
}

.Hero-body {
  margin: 0px;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 100px 200px;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
}

.heading {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.signup-button,
.signup-button2 {
  background-color: #3882f6;
  padding: 8px 30px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  font-size: 18px;
}

.left-content {
  max-width: 397px;
}

.right-content {
  max-width: 397px;
  min-height: 18px;
  color: #f9faf8;
  background-color: cornflowerblue;
  text-align: center;
  padding: 131px 180px;
}

.information-section {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
.frames {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 18px;
  font-weight: normal;
}

.card {
  max-width: 154px;
}

.image {
  border: 5px solid;
  border-color: #3882f6;
  max-width: 154px;
  height: 150px;
  border-radius: 15px;
}

.quote-section {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  background-color: #e5e7eb;
  padding: 50px 446px 50px 590px;
  text-align: left;
  font-weight: normal;
}

.name {
  font-weight: bold;
  text-align: right;
}

.signup-section {
  padding: 50px 446px 50px 500px;
}

.inside-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #3882f6;
  border-radius: 5px;
  color: white;
}

.signup-button2 {
  border-color: white;
}

.call {
  font-weight: bolder;
  margin-bottom: 0px;
  font-size: 18px;
}
.call-2 {
  margin-top: 0px;
  font-size: 18px;
  color: #e5e7eb;
}
